
@{
    ViewBag.Title = "OverdraftWarning";
}

<h2>OverdraftWarning</h2>

<h3> This Transaction Has Caused and Overdraft.</h3>

@Html.ActionLink("Acknowledge", "Index",null,new { @class = "btn btn-primary" })