@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework
@using Saffron1.Models

@{  
    var Manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
    var currUser = Manager.FindById(User.Identity.GetUserId());
}

<h2>Manage Household</h2>

@if (currUser != null)
{
    if (currUser.HouseholdId == null)
    {
        <div class="col-md-4">
            <h2>Household Management</h2>
            @Html.ActionLink("Create a New Household", "Create", "Households", null, new { @class = "btn btn-primary" })

        </div>
    }
    if (currUser.HouseholdId != null)
    {
        <div class="col-md-4">
            <h2>Household Management</h2>
            @Html.ActionLink("Leave Household", "Delete", "Households", new { id = currUser.HouseholdId }, new { @class = "btn btn-primary" })

            @if (currUser.HeadOfHousehold == true)
            {
                <hr />
                    @Html.ActionLink("Invite Another User", "Invite", "Households", null, new { @class = "btn btn-primary" })
                    <hr />
                    @Html.ActionLink("Change Household Name", "Edit", "Households", new { id = currUser.HouseholdId }, new { @class = "btn btn-primary" })
            }
        </div>
    }
}